@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root{
	--background:  linear-gradient(200deg, #764ba298 0%, #9a9a9a8c 100%);
	--color-primary:#ffabde;
	--color-secondary:#9a9a9a;
	--boton-padding: 20px 40px;
}

body{
	font-family: 'Raleway', sans-serif;
	animation: linear fadein .5s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*::selection{
	background: rgb(255 242 63);
	color: #6a6a6a;
}


/*-------------------Transición de inicio-------------------------*/
@keyframes fadein {
 	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}

@keyframes aparicion{

	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}
/*--------------------------------------------------------------*/


/*--------------------Barra de navegación móvil----------------------------*/
.bottombar_responsive{
    visibility: hidden;
    position: fixed;
}
/*-------------------------------------------------------------------------*/


/*--------------------Botón de whatsapp--------------------*/
.btn-wsp{
	position: fixed;
	width: 60px;
	height: 60px;
	line-height: 55px;
	bottom: 0px;
	right: 15px;
	background: #6a6a6a;
	color: #ffffff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	z-index: 1000;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	padding-top: 12px;
	margin-bottom: 0px;
	margin-bottom: 5%;
	transition: border 1s, color 1s;
}

.btn-wsp:hover{
	color: #ffaadc;
	border: 3px solid #ffaadc;
}
/*--------------------------------------------------------*/


/*------------------Botón para arriba---------------------*/
#boton__arriba{
	cursor: pointer;
	visibility: visible;
	position: fixed;
	width: 50px;
	height: 50px;
	line-height: 45px;
	bottom: 13%;
	right: 22.5px;
	background: #6a6a6a;
	color: #ffffff;
	border-radius: 50px;
	text-align: center;
	font-size: 20px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	z-index: 1000;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	margin-bottom: 3%;
	transform:  scale(0);
	transition: border 1s, color 1s, transform .5s;
}

#boton__arriba:hover{
	color: #ffaadc;
	border: 3px solid #ffaadc;
}
/*--------------------------------------------------------*/


/*----------------Barra superior gris---------------------*/
.top__bar{
	width: 100%px;
	height: 25px;
	background: #2a2a2a;
}

.top__texts{
	color: #fff;
	font-size: .8rem;
}

.top__contacto{
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	position: center;
}
/*--------------------------------------------------------*/


/*---------------------header-----------------------------*/
.hero{
	height: 90vh;
	background-image: var(--background), url("https://agnr3.github.io/agn/assets/Background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}
.hero .container{
	padding: 0;
}
/*--------------------------------------------------------*/


/*--------------------contenedor--------------------------*/
.container{
	width:  90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px;
	max-width: 1200px;
}
/*--------------------------------------------------------*/


/*-----------------Barra de navegación--------------------*/
.nav{
	position: sticky;
	top: 0;
	background: #fff;
	display: flex;
	height: 70px;
	width: 100%;
	align-items: center;
	font-weight: 700;
	z-index: 100;
}

.nav__content{
	display: flex;
	overflow: visible;
}

.nav__items{
	position: relative;
	height: 100%;
	color: #6a6a6a;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 1.5%;
	/**margin-right: 15px;**/
	padding: 14px 15px;
	font-weight: inherit;
	transition: 0.5s;
	z-index: 1;
}

.nav__items:before{
	content: "";
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 5px solid #6a6a6a;
 	border-bottom: 5px solid #6a6a6a;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
  border-radius: 10px;
}

.nav__items:after{
	content: "";
	position: absolute;
	top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6a6a6a;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  border-radius: 10px;
}

.nav__items:hover{
	color: #fff;
}

.nav__items:hover:before{
	transform: scaleY(1);
  	opacity: 1;
}

.nav__items:hover:after{
	transform: scaleY(1);
  	opacity: 1;
}

.nav__items#selected{
	background: #6a6a6a;
	border-radius: 10px;
	color: #fff;
}

.nav__logo{
	height: 40px;
	margin-right: 15px;
	margin-left: 45px;
	transition: ease-in-out height .5s;
	z-index: 100;
}

.nav__logo:hover {
	height: 43px;
}
/*--------------------------------------------------------*/


/*-------------------contenido header---------------------*/
.hero__container{
	height: calc(100vh - 150px);
	width: 90%;
	align-items: center;
	color: #fff;
	position: absolute;
	margin: 0 auto;
	display: flex;
}

.hero__texts{
	order: 0;
	width: 100%;
	height: 90%;
	margin-bottom: 5%;
	margin-left: 0%;
	margin-top: 25%;
	overflow: hidden;
}

.hero__title{
	font-size: 3.2rem;
}

.hero__subtitle{
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}

.hero__picture{
	margin-bottom: 5%;
	width: 50%;
}
/*--------------------------------------------------------*/


/*------------------Letras-especialista------------------------------*/
.main__especialista {
	margin-top: 5vh;
  height: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 0;
}

.h2_especialista{
  text-align: center;
  text-transform: uppercase;
  color: #f1faee;
  font-size: 4rem;
}

.roller {
  height: 4.125rem;
  line-height: 4rem;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffaadc;
}

#spare-time {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1rem;
  margin-top: 0;
  color: #fff;
}

.roller #rolltext {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -4rem;
  }
  50% {
    top: -8rem;
  }
  72.5% {
    top: -12.25rem;
  }
}

/*@media screen and (max-width: 600px) {
  .h2_especialista {
    text-align: center;
    text-transform: uppercase;
    color: #f1faee;
    font-size: 2.125rem;
  }

  .roller {
    height: 2.6rem;
    line-height: 2.125rem;
  }

  #spare-time {
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }

  .roller #rolltext {
    animation: slide-mob 5s infinite;
  }

  @keyframes slide-mob {
    0% {
      top: 0;
    }
    25% {
      top: -2.125rem;
    }
    50% {
      top: -4.25rem;
    }
    72.5% {
      top: -6.375rem;
    }
  }
}*/
/*--------------------------------------------------------*/


/*---------------boton contactanos header----------------*/
.hero_button{
	text-decoration: none;
	color: #fff;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ffaadc;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .hero_button {
  color: #fff;
}
/*--------------------------------------------------------*/


/*--------------------wave movimiento-------------------------*/
.hero__wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.waves2 {
	background-color: #fff;
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*--------------------------------------------------------*/

:root {
  --line: #404040;
  --bg-hover: #ebebeb;
  --bg: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsL(0, 0%, 15%);
    --bg-hover: #ffaadc;
    --line: #6a6a6a;
  }
}


/*--------------informacion en pagina------------------------*/
.subtitle{
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-buttom:  35px;
}
.about{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 0px;
	justify-items: center;
	align-items: center;
	gap: 3%;
}

.about__img{
	text-align: center;
}

.about__img--left{
	text-align: left;
}

.about__picture{
	width: 50em;
	max-width: 100%;
}

.about__paragraph{
	margin-top: 15px;
	line-height: 1.5;
	font-weight: 300;
}
/*--------------------------------------------------------*/


/*-------------------cartas servicios-------------------------*/
.card{
	background-color: #f2f2f2;
	opacity: 1;
	background-image:  radial-gradient(#6a6a6a 0.8px, transparent 0.8px), radial-gradient(#6a6a6a 0.8px, #fff 0.8px);
	background-size: 32px 32px;
	background-position: 0 0,16px 16px;
	background-attachment: fixed;
	/*background:  #f2f2f2;*/
}

.card__copy{
	margin-top: 20px;
}

.card__container{
	width: 99%;
	margin: 0 auto;
	padding-top: 10%;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,1fr);
	gap: 20px;
	grid-template-areas:
	".	   card1 .    "
	"card2 card1 card3"
	"card2 card4 card3"
	".     card4 .    ";
}

.card__item{
	padding: 10%;
	background: #fff;
	border-top: 5px solid #6a6a6a;
	box-shadow: 0 8px 10px rgba(66,66,66, .5);/*0 0 3px rgba(0, 0, 0, .5);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3%;
}

.card__img{
	background: #ffabde;
	margin-top: 20px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__title{
	color: #6a6a6a;
	margin: 15%;
	font-size: 1.5rem;
}

.card__paragraph{
	color: #6a6a6a;
	font-weight: 300;
	margin-bottom: 20px;
}

.card__item:nth-last-of-type(1){
	grid-area: card1;
}

.card__item:nth-last-of-type(2){
	grid-area: card2;
}

.card__item:nth-last-of-type(3){
	grid-area: card3;
}

.card__item:nth-last-of-type(4){
	grid-area: card4;
}

.card__picture{
	height: 50px;
}
/*--------------------------------------------------------*/


/*-------------------Galería----------------------------*/
.projects{
	background: #f2f2f2;
}

.projects__grid{
	display: grid;
	margin-top: 3%;
	height: 80%;
	grid-template-areas: 
	"img1 img1 img2 img3"
	"img1 img1 img4 img5";
	gap: 10px;
	position: static;
	max-height: 100%;
	max-width: 100%;
	overflow: hidden;
}

.projects__item{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.projects__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: width .5s,height .5s;
	/**cursor: help;**/
}

.projects__img:hover{
	width: 100%;
	height: 100%;
}

.projects__item:nth-of-type(1){
	grid-area: img1;
}

.projects__item:nth-of-type(2){
	grid-area: img2;
}

.projects__item:nth-of-type(3){
	grid-area: img3;
}

.projects__item:nth-of-type(4){
	grid-area: img4;
}

.projects__item:nth-of-type(5){
	grid-area: img5;
}

.projects__hover{
	position:  absolute;
	background: #ffabde1c;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	justify-content: center;
	text-align: center;
	display: flex;
	padding-top: 5%;
	flex-direction: column;
	transform: translateY(100%);
	/*cursor: pointer;*/
	transition: transform .3s ease-in-out;
	backdrop-filter: blur(10px);
}

.projects__item:hover .projects__hover{
	transform: translateY(0%);
}

.projects__icon{
	margin-top: 10px;
	font-size: 30px;
}
/*--------------------------------------------------------*/


/*--------------------medios de pago----------------------*/
.paycards__texts{
	padding: 2%;
	padding-top: 5%;
	text-align: center;
	border-bottom: 2px solid #ffaadc;

}

.paycards__title{
	font-size: 3rem;
	color: #6a6a6a;

}
.paycards__paragraph{
	color: #6a6a6a;
	padding-top: 2%;
	font-size: 1.5rem;

}

.prefooter__container{
}

.paycards__container{
	padding: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #fff;
	width: 30%;
	height: 10%;
	border-radius: 20px;
	box-shadow: 5px 5px 20px 0px #6a6a6a8a;
}

.paycards{
	width: 100%;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.paycards__pictures{
	width: 90%;
	height: 90%;
}
/*--------------------------------------------------------*/


/*-----------------config footer gral---------------------*/
.footer{
	background: var(--color-primary);
}

.footer__grid{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	align-items: center;
	padding-bottom: 0;
}
/*--------------------------------------------------------*/


/*-----------------navegador footer-----------------------*/
/*.nav--footer{
	font-weight: 300;
	justify-content: flex-start;
}

.nav__items--footer{
	color: #fff;
	font-weight: 500;
	padding: 10px;
	text-decoration: none;
}*/
/*--------------------------------------------------------*/


/*---------------------sobre------------------------------*/
.sobre__agn{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	column-gap: 30px;
}
.footersobretitle{
	text-align: center;
	color: #fff;
	border-bottom: 4px solid #fff;
	margin-bottom: 15px;
}
.footersobreparagraph{
	color: #fff;
}

/*--------------------------------------------------------*/


/*--------------------pagos footer------------------------*/
.footer__pagos{
	padding-top: 30px;
}
.paycardsfooter__container{
	padding: 10px;
	margin-top: 0;
	margin-bottom: 2%;
	width: 30%;
	height: 10%;
	border-radius: 20px;
	text-align: center;
}
.paycardsfooter__title{
	padding-bottom: 10px;
	color: #fff;
	font-weight: 300;
}
/*--------------------------------------------------------*/


/*----------------footer contacto-------------------------*/
.footer_contact{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.footer__title{
	border-bottom: 4px solid #fff;
	font-weight: 700;
	color: #fff ;
	font-size: 1.5rem;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

.social-container {
	margin: 0 auto;
  width: 400px;
  text-align: center;
}

.social-icons {
	margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
.social-icons a.social-square:before {
  background: linear-gradient(45deg, #7b00e0, #ae31d9);
  border-radius: 10%;
}
.social-icons a.social-square:hover:before {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: scale(-180deg);
  border-radius: 100%;
}
.social-icons a.social-square:hover i {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  color: #fff;
  transform: scale(1.6);
  -webkit-text-fill-color: #fff;
}
/*--------------------------------------------------------*/





/*--------------------------------------------------------------------*/
/*------------------------RESPONSIVE DESIGN---------------------------*/
/*--------------------------------------------------------------------*/

@media screen and (max-width:  800px){
	:root{
		--boton-padding: 18px 40px;
	}


	/*------------navegador superior--------------*/
	.nav{
		justify-content: space-around;
	}

	.nav__content{
		margin-left: 5%;
	}

	.nav__items{
		margin-right: 0%;
		font-weight: 700;
		font-size: 90%;
		padding: 5px;

	}

	.nav__logo{
		margin-left: 0%;
		height: 30px;
	}
	/*--------------------------------------------*/


	.container{
		width: 100%;
	}


	/*-------------contenido header---------------*/
	.hero__title{
		padding-left: 50px;
		padding-right: 50px;
		font-size: 2.5rem;
	}

	.hero__subtitle{
		font-size: 1.5rem;
		padding-left: 50px;
		padding-right: 50px;
	}

	.hero__texts{
		width: 100%;
		padding-top: 80px;
		margin-bottom: 30%;
		margin-right: 0;
	}

	.learn-more{
		margin-left: 50px;
	}

	.h2_especialista{
  font-size: 2.5rem;
	}
	/*--------------------------------------------*/


	/* --------informacion de pagina------------- */
	.about{
		grid-template-columns: 1fr;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 0px;
	}

	.about.container{
		padding-top: 30px;
	}

	.about__img--left{
		text-align: center;
	}

	.about__texts:last-child{
		grid-row: 3/4;
	}

	/*--------------------------------------------*/


	/*---------------cartas servicio------------- */
	.containercard{
		padding: 5%;
	}

	.card__container{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"card1 card2"
		"card1 card2"
		"card3 card4"
		"card3 card4";
	}
	/*--------------------------------------------*/


	/* -----------------Galería------------------ */
	.projects__grid{
		grid-template-areas:
		"img1 img1 img2 img2"
		"img1 img1 img3 img3"
		"img4 img4 img5 img5";
	}

	.container.projects{
		padding: 5%;
	}
	/*--------------------------------------------*/


	/*--------------------------------------------*/

	.paycards__title{
		font-size: 1.5rem;
	}
	.paycards__paragraph{
		font-size: 1.2rem;
	}

	.paycards__container{
		margin-top: 5%;
		margin-bottom: 10%;
		width: 80%;
	}


	/*--------------------------------------------*/


	/*------------footer config gral--------------*/
	.footer__grid{
		margin: 0 auto;
		grid-template-columns: 1fr;
		padding-right: 0;
		padding-left: 0;
		width: 90%;
	}
	/*--------------------------------------------*/


	/* -------------contacto footer-------------- */
	.footer__title{
		margin: 0 auto;
		margin-bottom: 2%;
	}
	.footer__contact{
		grid-row:  1/2;
	}
	.wrapper_footer{
		margin: 0 auto;
	}
	.social-container{
		margin: 0 auto;
	}
	.social-icons{
		margin: 0 auto;
	}
	/*--------------------------------------------*/

	/*---------------medio de pagos---------------*/

	.paycardsfooter__container{
		width: 60%;
	}

	/*--------------------------------------------*/


	/*-------------barra nav footer---------------*/
	.nav--footer{
		margin: 0 auto;
	}

	.nav__items--footer{
		border: none;
	}
	/*--------------------------------------------*/
}













@media screen and (max-width: 500px){
	:root{
		--boton-padding: 18px 35px;
	}


	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		margin-bottom: 5vh;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		margin-bottom: 1vh;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 69vh;
	}
	/*-----------------------------------------*/


	/*-----------BARRA NAV SUPERIOR-----------*/
	.nav{
		text-align: center;
		position: fixed;
		top: 0;
		/*flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;*/
	}

	.nav__items{
		padding: 0px 10px;
		border: 0;
		visibility: hidden;
		padding: 0%;
		margin: 0 auto;
	}
	.nav__content{
		display: flex;
		place-content: center;
		text-align: center;
		margin: 0 auto;
	}

	.container__navlogo{
		width: 100%;
	}

	.nav__logo{
		position: absolute;
		left: 35%;
		bottom: 14%;
		margin: 0 auto;
		padding: 0%;
		height: 50px;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.hero__container{
		display: block;
	}

	.hero__title{
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
		font-size: 1.8rem;
	}

	.hero__subtitle{
		padding-left: 0;
		padding-right: 10px;
		font-size: 1.2rem;
	}

	.hero__texts{
		width: 90%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		padding-top: 16vh;
	}

	.learn-more{
		margin-left: 0;
		margin-top: 20px;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}
	/*-----------------------------------------*/


	/*----------LETRAS ESPECIALISTA------------*/
	.main__especialista{
		margin-top: 7vh;
	}
	.h2_especialista{
		font-size: 1.8rem;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		height: 50vh;
		/**margin-bottom: -15%;*//
		padding: 0;
		padding-right: 0;
		padding-left: 0;
		width: 90%;
	}
	/*-----------------------------------------*/

	/*-----------------------------------------*/
	.sobre__agn{
		padding-top: 20px;
	}
	.footersobretitle{
		font-size: 0.9rem;
	}
	.footersobreparagraph{
		font-size: 0.8rem;
	}
	/*-----------------------------------------*/


	/*---------------medio de pagos---------------*/

	.paycards__title{
		padding-top: 20px;
		padding-bottom: 0;
	}

	.paycardsfooter__container{
		width: 100%;
	}

	.footer__pagos{
		padding-top: 0%;
	}

	/*--------------------------------------------*/


	/*------------FOOTER CONTACTO--------------*/
	.footer_contact{
		margin: 0 auto;
		text-align: center;
	}

	.footer__title{
		margin-top: 0;
	}

	.wrapper_footer{
		margin: 0 auto;
		margin-right: 8%;
	}
	.social-container{
		margin: 0 auto;
	}
	.social-icons{
		margin: 0 auto;
	}
	/*-----------------------------------------*/


	/*-----------WAVE MOVIMIENTO---------------*/
		.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }

  .waves2 {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/


	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin: 0 auto;
		margin-top: 5%;
	}
	/*-----------------------------------------*/

	/*----------INFORMACIÓN DE PÁGINA----------*/
	.about{
		row-gap: 60px;
	}

	.about.container{
		padding-top: 10px;
	}

	.about__texts{
		margin-top: 30%;
	}
	/*-----------------------------------------*/


	/* ----------------GALERÍA---------------- */
	.projects__grid{
		grid-template-areas:
		"img1"
		"img2"
		"img3"
		"img4"
		"img5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}
	/*-----------------------------------------*/
}












@media screen and (max-width: 420px){
	:root{
		--boton-padding: 18px 35px;
	}


	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		bottom: 6%;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		bottom: 20%;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 69vh;
	}
	/*-----------------------------------------*/


	/*-----------BARRA NAV SUPERIOR-----------*/
	.nav{
		text-align: center;
		position: fixed;
		top: 0;
		/*flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;*/
	}

	.nav__items{
		padding: 0px 10px;
		border: 0;
		visibility: hidden;
		padding: 0%;
		margin: 0 auto;
	}
	.nav__content{
		display: flex;
		place-content: center;
		text-align: center;
		margin: 0 auto;
	}

	.container__navlogo{
		width: 100%;
	}

	.nav__logo{
		position: absolute;
		left: 35%;
		bottom: 14%;
		margin: 0 auto;
		padding: 0%;
		height: 50px;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.hero__container{
		display: block;
	}

	.hero__title{
		padding-left: 0;
		padding-right: 0;
		margin-top: 10%;
		text-align: left;
		font-size: 1.6rem;
	}

	.hero__subtitle{
		padding-right: 30px;
		padding-left: 0px;
		text-align: left;
		font-size: 1.2rem;
		margin-bottom: 25px;
	}

	.hero__texts{
		width: 90%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		padding-top: 10vh;
	}

	.learn-more{
		margin-bottom: 0px;
		margin-left: 0;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}
	/*-----------------------------------------*/


	/*----------LETRAS ESPECIALISTA------------*/
	.main__especialista{
		margin-top: 7vh;
	}
	.h2_especialista{
		font-size: 1.8rem;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		height: 50vh;
		margin-bottom: -15%;
		padding: 0;
		width: 95%;
	}
	/*-----------------------------------------*/
	

	/*-----------------------------------------*/
	.paycardsfooter__title{
		margin-top: 30px;
		padding-bottom: 0;
	}

	.footer__pagos{
	}
	/*-----------------------------------------*/

	/*------------FOOTER CONTACTO--------------*/
	.footer_contact{
		margin-right: 10%;
	}

	.footer__title{
		margin-top: 0;
	}
	/*-----------------------------------------*/


	/*-----------WAVE MOVIMIENTO---------------*/
	.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }

  .waves2 {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/


	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin-left: 4%;
		margin-top: 5%;
	}
	/*-----------------------------------------*/

	/*----------INFORMACIÓN DE PÁGINA----------*/
	.about{
		row-gap: 20px;
	}

	.about.container{
		padding-top: 10px;
	}

	.about__texts{
		margin-top: 40px;
	}
	/*-----------------------------------------*/


	/* ----------------GALERÍA---------------- */
	.projects__grid{
		grid-template-areas:
		"img1"
		"img2"
		"img3"
		"img4"
		"img5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}
	/*-----------------------------------------*/
}










@media screen and (max-width: 375px){
	:root{
		--boton-padding: 18px 35px;
	}


	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		bottom: 6%;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		bottom: 20%;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 69vh;
	}
	/*-----------------------------------------*/


	/*-----------BARRA NAV SUPERIOR-----------*/
	.nav{
		text-align: center;
		position: fixed;
		top: 0;
		/*flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;*/
	}

	.nav__items{
		padding: 0px 10px;
		border: 0;
		visibility: hidden;
		padding: 0%;
		margin: 0 auto;
	}
	.nav__content{
		display: flex;
		place-content: center;
		text-align: center;
		margin: 0 auto;
	}

	.container__navlogo{
		width: 100%;
	}

	.nav__logo{
		position: absolute;
		left: 35%;
		bottom: 14%;
		margin: 0 auto;
		padding: 0%;
		height: 50px;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.hero__container{
		display: block;
	}

	.hero__title{
		padding-left: 0;
		padding-right: 0;
		margin-top: 10%;
		text-align: left;
		font-size: 1.6rem;
	}

	.hero__subtitle{
		padding-right: 30px;
		padding-left: 0px;
		text-align: left;
		font-size: 1.2rem;
		margin-bottom: 5px;
	}

	.hero__texts{
		width: 90%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		padding-top: 10vh;
	}

	.learn-more{
		margin-bottom: 0px;
		margin-left: 0;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}
	/*-----------------------------------------*/


	/*----------LETRAS ESPECIALISTA------------*/
	.main__especialista{
		margin-top: 4vh;
	}
	.h2_especialista{
		font-size: 1.5rem;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		height: 50vh;
		padding: 0;
		width: 95%;
		margin: 0 auto;
		margin-bottom: 0px;
	}
	/*-----------------------------------------*/


	/*-----------------------------------------*/
	.paycardsfooter__title{
		margin-top: 30px;
		padding-bottom: 0;
	}

	.footer__pagos{
	}
	/*-----------------------------------------*/

	/*-----------------------------------------*/
	.sobre__agn{
		padding-top: 20px;
	}
	.footersobretitle{
		font-size: 0.9rem;
	}
	.footersobreparagraph{
		font-size: 0.7rem;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONTACTO--------------*/

	.footer__title{
		margin-top: 0;
	}
	/*-----------------------------------------*/


	/* -------------contacto footer-------------- */
	.footer__title{
		margin: 0 auto;
		margin-bottom: 2%;
	}
	.footer_contact{
		display: grid;
		margin: 0 auto;
	}
	.wrapper_footer{
		margin: 0 auto;
		width: 100%;
	}
	.social-container{
		margin: 0 auto;
		width: 100%;
	}
	.social-icons{
		margin: 0 auto;
		width: 100%;
	}
	/*--------------------------------------------*/

	/*--------------foote pagos-------------------*/
		.footer__pagos{
			padding-top: 0px;
			margin-top: 0px;
		}
		.paycardsfooter__container{
			padding-top: 0;
		}
		.paycardsfooter__title{
			margin-top: 0;

		}
	/*--------------------------------------------*/



	/*-----------WAVE MOVIMIENTO---------------*/
		.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }

  .waves2 {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/


	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin-left: 4%;
		margin-top: 5%;
	}
	/*-----------------------------------------*/

	/*----------INFORMACIÓN DE PÁGINA----------*/
	.about{
		row-gap: 20px;
	}

	.about.container{
		padding-top: 10px;
	}

	.about__texts{
		margin-top: 40px;
	}
	/*-----------------------------------------*/


	/* ----------------GALERÍA---------------- */
	.projects__grid{
		grid-template-areas:
		"img1"
		"img2"
		"img3"
		"img4"
		"img5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}
	/*-----------------------------------------*/
}










@media screen and (max-width: 300px){
	:root{
		--boton-padding: 18px 35px;
	}


	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		bottom: 6%;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		bottom: 25%;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 69vh;
	}
	/*-----------------------------------------*/


	/*-----------BARRA NAV SUPERIOR-----------*/
	.nav{
		text-align: center;
		position: fixed;
		top: 0;
		/*flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;*/
	}

	.nav__items{
		padding: 0px 10px;
		border: 0;
		visibility: hidden;
		padding: 0%;
		margin: 0 auto;
	}
	.nav__content{
		display: flex;
		place-content: center;
		text-align: center;
		margin: 0 auto;
	}

	.container__navlogo{
		width: 100%;
	}

	.nav__logo{
		position: absolute;
		left: 35%;
		bottom: 14%;
		margin: 0 auto;
		padding: 0%;
		height: 50px;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.hero__container{
		display: block;
	}

	.hero__title{
		padding-left: 0;
		padding-right: 0;
		margin-top: 10%;
		text-align: left;
		font-size: 1.5rem;
	}

	.hero__subtitle{
		padding-right: 30px;
		padding-left: 0px;
		text-align: left;
		font-size: 1rem;
		margin-bottom: 5px;
	}

	.hero__texts{
		width: 90%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		padding-top: 10vh;
	}

	.learn-more{
		margin-bottom: 0px;
		margin-left: 0;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}
	/*-----------------------------------------*/


	/*----------LETRAS ESPECIALISTA------------*/
	.main__especialista{
		margin-top: 4vh;
	}
	.h2_especialista{
		font-size: 1rem;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		justify-content: center;
		height: 40vh;
		margin-bottom: -15%;
		padding: 0%;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONTACTO--------------*/
	.footer_contact{
		margin-right: 0;
		margin-bottom: 20%;
	}

	.footer__title{
		margin-top: 0;
		font-size: 1.3rem;
	}
	.social-container{
		margin-left: 4%;
	}
	/*-----------------------------------------*/


	/*-----------WAVE MOVIMIENTO---------------*/
		.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }

  .waves2 {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/


	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin-left: 18%;
		margin-top: 10%;
		width: 70%;
		font-size: 0.7rem;
	}
	/*-----------------------------------------*/

	/*----------INFORMACIÓN DE PÁGINA----------*/
	.about{
		row-gap: 20px;
	}

	.about.container{
		padding-top: 10px;
	}

	.about__texts{
		margin-top: 40px;
	}
	/*-----------------------------------------*/


	/* ----------------GALERÍA---------------- */
	.projects__grid{
		grid-template-areas:
		"img1"
		"img2"
		"img3"
		"img4"
		"img5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}
	/*-----------------------------------------*/
}











/*@media screen and (max-height: 900px){
	.hero__texts{
		margin-top: 25%;
	}

	.main__especialista{
		margin-top: 0%;
	}
}

@media screen and (max-height: 800px){
	.hero__texts{
		margin-top: 20%;
	}

	.main__especialista{
		margin-top: 0%;
	}
}

@media screen and (max-height: 700px){
	#boton__arriba{
		bottom: 24%;
	}
	.hero__texts{
		margin-top: 10%;
	}

	.main__especialista{
		margin-top: 20px;
	}
}*/












@media screen and (max-height: 800px) and (min-width: 800px){
	.hero__container{
		width: 90%;
	}
	.hero__texts{
		margin-top: 15%;
	}
	.hero__container{
		align-items: center;
	}
	.hero__title{
		font-size: 2.4rem;
		padding-right: 20px;
	}
	.hero__subtitle{
		padding-right: 20px;
	}
	.main__especialista{
		margin-top: 5vh;
	}
	.h2_especialista{
		font-size: 2rem;
	}

	#boton__arriba{
		bottom: 20%;
	}

}













@media screen and (max-height: 550px) and (min-width: 800px){
	.hero__container{
		width: 90%;
	}
	.hero__texts{
		margin-top: 10%;
	}
	.hero__container{
		align-items: center;
	}
	.hero__title{
		font-size: 2.4rem;
		padding-right: 20px;
	}
	.hero__subtitle{
		padding-right: 20px;
	}
	.main__especialista{
		margin-top: 0vh;
	}
	.h2_especialista{
		font-size: 1.5rem;
	}

	#boton__arriba{
		bottom: 25%;
	}

}
