@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
	--background:  linear-gradient(200deg, #764ba298 0%, #9a9a9a8c 100%);
	--color-primary:#ffabde;
	--color-secondary:#9a9a9a;
	--boton-padding: 20px 40px;
}

body{
	font-family: 'Raleway', sans-serif;
	animation: linear fadein .5s; 
}

@keyframes fadein {
 	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}

@keyframes aparicion{

	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}

body { -webkit-tap-highlight-color: rgba(0,0,0,0); }

*::selection{
	background: rgb(255 242 63);
	color: #6a6a6a;
}

.bottombar_responsive{
    visibility: hidden;
    position: fixed;
}

.btn-wsp{
	position: fixed;
	width: 60px;
	height: 60px;
	line-height: 55px;
	bottom: 0px;
	right: 15px;
	background: #6a6a6a;
	color: #ffffff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	z-index: 100;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	padding-top: 12px;
	margin-bottom: 0px;
	margin-bottom: 50px;
	transition: font-size 0.3s, width .3s , height .3s, border 1s, margin-bottom 1s, color 1s;
}

.btn-wsp:hover{
	color: #ffaadc;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	font-size: 50px;
	border: 3px solid #ffaadc;
}

.main{
}

.top__bar{
	width: 100%px;
	height: 25px;
	background: #2a2a2a;
}

.top__texts{
	color: #fff;
	font-size: .8rem;
}

.top__contacto{
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	position: center;
}

.container{
	width:  90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px;
	max-width: 1200px;
}

.subtitle{
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-buttom:  35px;
}

.hero{
	height: 100vh;
	background-image: var(--background), url("../assets/background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
}

.hero .container{
	padding: 0;
}

/*-----------------------------------LISTA DESPLEGABLE---------------------------------*/


.personal__list {
	visibility: hidden;
  padding: 15px;
  bottom: 20%;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
}
.personal__container {
	visibility: hidden;
	left: 65%;
  position: relative;
}
.personal__list:hover .personal__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.personal__list:hover .personal__inner::before, .personal__list:hover .personal__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.personal__list.is-active .personal__inner {
  display: none;
}
.personal__inner {
  width: 100%;
  height: 2px;
  background-color: #6a6a6a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.personal__inner::before, .personal_inner::after {
  width: 100%;
  height: 2px;
  background-color: #6a6a6a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.personal__inner::before {
  top: -13px;
}
.personal__inner::after {
  top: 13px;
}
.personal__list:hover .personal__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.personal__list:hover .personal__hidden::before, .personal__list:hover .personal__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.personal__list.is-active .personal__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.personal__list.is-active .personal__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.personal__list.is-active .personal__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.personal__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #ffaadc;
  top: 50%;
  transform: translate(51px, -50%);
}
.personal__hidden::before, .personal__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #6a6a6a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #ffaadc;
  content: "";
  transform: translate(102px, 0);
}
.personal__hidden::before {
  top: -13px;
}
.personal__hidden::after {
  top: 13px;
}


.menu__side{
	background: #ffffff;
	margin-left: 70%;
	margin-top: 0px;
	width: 30%;
	height: 0%;
	position: absolute;
	overflow: hidden;
	border-radius: 20px;
	transition: ease-in-out height .5s, margin-top 0.5s;
}

.menu__side:before{
	content: "";

}

.menu__content{
	margin-top: 40px;
	text-align: center;
}

.menu__text{
	color: #6a6a6a;
	text-decoration: none;
}

.menu__side_move{
	margin-left: 70%;
	margin-top: 140%;
	height: 75vh;
	box-shadow: 0 8px 10px rgba(66,66,66, .5);
	z-index: 0;
	/*left: 70%;
	top: 105%;*/
	/*margin-top: 42%;
	margin-left: 74%;*/
}



/*-------------------------------------------------------------------------------------*/
@property --accessory-translation {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
@property --main-rotation {
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}
@property --final-translation {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
@property --hover-translation {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
@property --transition {
  syntax: '<time>';
  inherits: false;
  initial-value: 0.15s;
}
:root {
  --line: #404040;
  --bg-hover: #ebebeb;
  --bg: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsL(0, 0%, 15%);
    --bg-hover: #ffaadc;
    --line: #6a6a6a;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
[aria-pressed] > .sr-only {
  display: none;
}
[aria-pressed="false"] > .sr-only:nth-of-type(1) {
  display: block;
}
[aria-pressed="true"] > .sr-only:nth-of-type(2) {
  display: block;
}
.button {
	/*margin-bottom: 0.1%;*/
  --size: 3.2em;
  background: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  height: var(--size);
  padding: 0;
  width: var(--size);
  transition: background var(--transition);
  z-index: 100;
}
.button:hover {
  background: var(--bg-hover);
}
.button[aria-pressed="false"]:hover {
  --hover-translation: 10%;
}
.button[aria-pressed="true"] {
  --accessory-translation: 30%;
  --main-rotation: -45deg;
  --final-translation: -55%;
}
.button[aria-pressed="true"] .icon span:nth-of-type(odd) {
  transition: --hover-translation var(--transition), --accessory-translation var(--transition), --main-rotation var(--transition) calc(var(--transition) * 2), --final-translation var(--transition) calc(var(--transition) * 3);
}
.button[aria-pressed="true"] .icon span:nth-of-type(2) {
  transition: --main-rotation var(--transition) var(--transition);
}
.button[aria-pressed="false"] .icon span:nth-of-type(odd) {
  transition: --hover-translation var(--transition), --accessory-translation var(--transition) calc(var(--transition) * 3), --main-rotation var(--transition) var(--transition), --final-translation var(--transition);
}
.button[aria-pressed="false"] .icon span:nth-of-type(2) {
  transition: --main-rotation var(--transition) calc(var(--transition) * 2);
}
.icon {
  height: 78%;
  width: 85%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  filter: url("#goo");
  margin-bottom: 15px;
  margin-left: 2px;
}
.icon > span {
  height: 20%;
  width: 100%;
  background: var(--line);
  display: inline-block;
  border-radius: calc((var(--size) * 0.8) * 0.2);
  transition: background var(--transition);
}
.icon > span:nth-of-type(1) {
  --coefficient: -1;
  align-self: flex-start;
}
.icon > span:nth-of-type(2) {
  transform: rotate(var(--main-rotation));
}
.icon > span:nth-of-type(3) {
  --coefficient: 1;
  align-self: flex-end;
}
.icon > span:nth-of-type(odd) {
  width: 60%;
  transform: translate(calc(var(--hover-translation) * var(--coefficient))) translate(calc(var(--accessory-translation) * var(--coefficient)), 0) rotate(calc(var(--main-rotation) * -1)) translate(calc(var(--final-translation) * var(--coefficient)));
}
/*-------------------------------------------------------------------------------------*/

.nav{
	position: sticky;
	top: 0;
	background: #fff;
	display: flex;
	height: 70px;
	width: 100%;
	align-items: center;
	font-weight: 700;
	z-index: 100;
}

.nav__content{
	display: flex;
	overflow: visible;
}

.nav__items{
	position: relative;
	height: 100%;
	color: #6a6a6a;
	text-decoration: none;
	margin-right: 10px;
	margin-left: 1.5%;
	/**margin-right: 15px;**/
	padding: 14px 15px;
	font-weight: inherit;
	transition: 0.5s;
	z-index: 1;
}

.nav__items:before{
	content: "";
	position: absolute;
	top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 5px solid #6a6a6a;
 	border-bottom: 5px solid #6a6a6a;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
  border-radius: 10px;
}

.nav__items:after{
	content: "";
	position: absolute;
	top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6a6a6a;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
  border-radius: 10px;
}

.nav__items:hover{
	color: #fff;
}

.nav__items:hover:before{
	transform: scaleY(1);
  	opacity: 1;
}

.nav__items:hover:after{
	transform: scaleY(1);
  	opacity: 1;
}

.nav__items#selected{
	background: #6a6a6a;
	border-radius: 10px;
	color: #fff;
}

.nav__logo{
	height: 40px;
	margin-right: 15px;
	margin-left: 45px;
	transition: ease-in-out height .5s;
	z-index: 100;
}

.nav__logo:hover {
	height: 43px;
}

.hero__container{
	display: flex;
	height: calc(100vh - 150px);
	align-items: center;
	color: #fff;
}

.hero__texts{
	width: 70%;
	margin-bottom: 5%;
	margin-left: 5%;
}

.hero__title{
	font-size: 3.2rem;
}

.hero__subtitle{
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}

.hero__picture{
	margin-bottom: 5%;
	width: 50%;
}

.hero__cleaningpc{

}

/*------------------------------------------------------------------*/
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ffaadc;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


.hero__wave{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}


.about{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 0px;
	justify-items: center;
	align-items: center;
	gap: 3%;
}

.about__img{
	text-align: center;
}

.about__img--left{
	text-align: left;
}

.about__picture{
	width: 50em;
	max-width: 100%;
}

.about__paragraph{
	margin-top: 15px;
	line-height: 1.5;
	font-weight: 300;
}

.console-container {
	font-weight: 700;
  	font-size: 3em;
  	text-align: center;
  	height: 50%;
  	width: 95%;
  	display: block;
  	position: relative;
  	color: #6a6a6a;
}
.console-underscore {
  	display: inline-block;
  	position: relative;
  	top: -0.14em;
  	left: 10px;
}

.titlecard{
	font-size:  2.5rem;
	text-align: left;
}

.card{
	background-color: #f2f2f2;
	opacity: 1;
	background-image:  radial-gradient(#6a6a6a 0.8px, transparent 0.8px), radial-gradient(#6a6a6a 0.8px, #fff 0.8px);
	background-size: 32px 32px;
	background-position: 0 0,16px 16px;
	background-attachment: fixed;
	/*background:  #f2f2f2;*/
}

.containercard{

}

.card__copy{
	margin-top: 20px;
}


.card__container{
	width: 99%;
	margin: 0 auto;
	padding-top: 10%;
	padding-left: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(4,1fr);
	gap: 20px;
	grid-template-areas:
	".	   card1 .    "
	"card2 card1 card3"
	"card2 card4 card3"
	".     card4 .    ";
}

.card__item{
	padding: 10%;
	background: #fff;
	border-top: 5px solid #6a6a6a;
	box-shadow: 0 8px 10px rgba(66,66,66, .5);/*0 0 3px rgba(0, 0, 0, .5);*/
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3%;
}

.card__item:hover {
	
}

.card__img{
	background: #ffabde;
	margin-top: 20px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__title{
	color: #6a6a6a;
	margin: 15%;
	font-size: 1.5rem;
}

.card__paragraph{
	color: #6a6a6a;
	font-weight: 300;
	margin-bottom: 20px;
}

.card__item:nth-last-of-type(1){
	grid-area: card1;
}

.card__item:nth-last-of-type(2){
	grid-area: card2;
}

.card__item:nth-last-of-type(3){
	grid-area: card3;
}

.card__item:nth-last-of-type(4){
	grid-area: card4;
}

.card__picture{
	height: 50px;
}


/* Trabajos */

.projects{
	background: #f2f2f2;
}

.projects__grid{
	display: grid;
	margin-top: 3%;
	height: 80%;
	grid-template-areas: 
	"img1 img1 img2 img3"
	"img1 img1 img4 img5";
	gap: 10px;
	position: static;
	max-height: 100%;
	max-width: 100%;
}

.projects__item{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.projects__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	transition: width .5s,height .5s;
	/**cursor: help;**/
}

.projects__img:hover{
	width: 105%;
	height: 105%;
}

.projects__item:nth-of-type(1){
	grid-area: img1;
}

.projects__item:nth-of-type(2){
	grid-area: img2;
}

.projects__item:nth-of-type(3){
	grid-area: img3;
}

.projects__item:nth-of-type(4){
	grid-area: img4;
}

.projects__item:nth-of-type(5){
	grid-area: img5;
}

.projects__hover{
	position:  absolute;
	background: #ffabde9c;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translateY(100%);
	/*cursor: pointer;*/
	transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
	transform: translateY(0%);
}

.projects__icon{
	margin-top: 10px;
	font-size: 30px;
}

/* Footer */

.nav--footer{
	font-weight: 300;
	justify-content: flex-start;
}

.nav__items--footer{
	color: #fff;
	font-weight: 500;
	padding: 10px;
	text-decoration: none;
}

.footer{
	background: var(--color-primary);
}

.footer__grid{
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
	align-items: center;
}

.footer__title{
	font-weight: 500;
	color: #fff ;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;
}

.footer__icons{
	display: flex;
	justify-content: space-evenly;
}

.footer__container-icons{
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
}

.footer__container-icons:hover{
	background: #6a6a6a;
}

.footer__icon{
	color: #ffaadc;
	font-size: 30px;
	text-decoration: none;
	background: #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: linear background .5s, linear color .5s;
}

.footer__icon:hover{
	background: #6a6a6a;
	color: #fff;
}

.fa-instagram{
	padding-top: 5px;
	padding-left: 7px;
}

.fa-facebook{
	padding-top: 5px;
	padding-left: 5px;
}

.fa-whatsapp.footer__icon{
	padding-top: 5px;
	padding-left: 7px;
}

.fa-brands.footer_icon{
	line-height: 60px;
}

/* Responsive design */

@media screen and (max-width:  800px){
	:root{
		--boton-padding: 18px 40px;
	}

	.container{
		width: 100%;
	}
	.nav{
		justify-content: space-around;
	}

	.nav__content{
		margin-left: 5%;
	}

	.nav__items{
		margin-right: 0%;
		font-weight: 700;
		font-size: 90%;
		padding: 5px;

	}

	.nav__logo{
		margin-left: 0%;
		height: 30px;
	}

	.personal__list{
		left: 83%;

	}

	.nav__items--footer{
		border: none;
	}

	.hero__texts{
		width: 100%;
		margin-bottom: 30%;
		margin-right: 0;	
	}

	.hero__picture{
		visibility: hidden;
	}

	.hero__title{
		font-size: 2.5rem;
	}

	.hero__subtitle{
		font-size: 1.5rem;
	}

	/* About */

	.presentation__copy{
		width: 100%;
	}

	.about{
		grid-template-columns: 1fr;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 0px;
	}

	.about.container{
		padding-top: 30px;
	}

	.about__img--left{
		text-align: center;
	}

	.about__texts:last-child{
		grid-row: 3/4;
	}

	.console-container{
		width: 100%%;
		margin: 10% auto;
		padding: 0;

	}

	/* tarjetas */

	.containercard{
		padding: 5%;
	}

	.card__container{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"card1 card2"
		"card1 card2"
		"card3 card4"
		"card3 card4";
	}

	/* Proyectos */

	.projects__grid{
		grid-template-areas:
		"img1 img1 img2 img2"
		"img1 img1 img3 img3"
		"img4 img4 img5 img5";
	}

	.container.projects{
		padding: 5%;
	}

	/* Testimonios (de momento) */

	.testimony__grid{
		grid-template-columns: 1fr;
		gap: 30px;
	}

	/* Footer */

	.footer__title{
		margin-top: 10%;
		margin-bottom: 2%;
	}

	.footer__grid{
		grid-template-columns: 1fr;
	}

	.footer__contact{
		grid-row:  1/2;
	}

	.nav--footer{
		margin-left: 13%;
	}
}


@media screen and (max-width: 500px){
	:root{
		--boton-padding: 18px 35px;
	}

	.btn-wsp{
		bottom: 30px;
	}

	.footer__grid{
		margin-bottom: -13%;
		padding: 5%;
	}

	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.nav{
		position: fixed;
		top: 0;
		/*flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100%;*/
	}

	.nav__items{
		padding: 0px 10px;
		border: 0;
		visibility: hidden;
		padding: 0%;
		margin: 0 auto;
	}
	.nav__content{
		margin: 0 auto;
	}

	.nav__logo{
		margin: 0% 90%;
		padding: 0%;
		height: 50px;
	}

	.nav__logo:hover{
		height: 50px;
	}

	.personal__list{
		visibility: visible;
		padding: 30px;
		left: -30%;

	}

	.personal__container{
		visibility: visible;
		z-index: 100;
		position: absolute;
		bottom: 20%;

	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}

	.menu__side{
		margin-left: 0%;
		width: 95%;
	}

	.menu__side_move{
	margin-top: 63vh;
	height: 50vh;
	}

	.hero__container{
		display: block;
	}

	.hero__texts{
		margin-top: 60%;
		padding-right: 10%;
	}

	.hero__title{
		font-size: 2rem;
	}

	.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }

	/* About  */

	.presentation__picture{
		width: 120px;
		height: 120px;
	}

	.about{
		row-gap: 60px;
	}

	.about.container{
		padding-top: 10px;
	}

	/* Proyectos */

	.projects__grid{
		grid-template-areas:
		"img1"
		"img2"
		"img3"
		"img4"
		"img5";
		height: auto;
		grid-template-rows: repeat(5, 250px);
		grid-auto-rows: 250px;
		gap: 10px;
	}

	/* Testimonios */

	.testimony__item{
		padding: 30px 15px;
	}

	.testimony__person{
		flex-direction: column;
	}

	.testimony__texts{
		text-align: center;
	}

	.testimony__img{
		margin: 0;
		margin-bottom: 20px;
	}
}
