@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
	--background:  linear-gradient(200deg, #764ba298 0%, #9a9a9a8c 100%); /*667eea7e 764ba298*/
	--color-primary:#ffabde;
	--color-secondary:#9a9a9a;
	--boton-padding: 20px 40px;
}

body{
	font-family: 'Raleway', sans-serif;
	animation: linear fadein .5s; 
}

@keyframes fadein {
 	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}

@keyframes aparicion{

	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}

*::selection{
	background: rgb(255 242 63);
	color: #6a6a6a;
}

.btn-wsp{
	position: fixed;
	width: 60px;
	height: 60px;
	line-height: 55px;
	bottom: 50px;
	right: 15px;
	background: #6a6a6a;
	color: #ffffff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	z-index: 100;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	padding-top: 12px;
	margin-bottom: 0px;
	margin-bottom: 50px;
	transition: font-size 0.3s, width .3s , height .3s, border 1s, margin-bottom 1s, color 1s;
}

.btn-wsp:hover{
	color: #ffaadc;
	width: 100px;
	height: 100px;
	padding-top: 20px;
	font-size: 50px;
	border: 3px solid #ffaadc;
}

.main{
	background:  #6a6a6a;
}

.top__bar{
	width: 100%px;
	height: 25px;
	background: #2a2a2a;
}

.top__texts{
	color: #fff;
	font-size: .8rem;
}

.top__contacto{
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	position: center;
}

.container{
	width:  90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px;
	max-width: 1200px;
}

.subtitle{
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-buttom:  35px;
}

.hero{
	background-color: #fff;
}

.hero .container{
	padding: 0;
}

.hero__container{
	display: flex;
	height: calc(100vh - 150px);
	align-items: end;
	color: #fff;
}

/*-----------------------------------LISTA DESPLEGABLE---------------------------------*/


.personal__list {
  padding: 15px;
  left: 90%;
  bottom: 15%;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
}
.personal__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.personal__list:hover .personal__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.personal__list:hover .personal__inner::before, .personal__list:hover .personal__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.personal__list.is-active .personal__inner {
  display: none;
}
.personal__inner {
  width: 100%;
  height: 2px;
  background-color: #6a6a6a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1;
}
.personal__inner::before, .personal_inner::after {
  width: 100%;
  height: 2px;
  background-color: #6a6a6a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(-5px, 0);
}
.personal__inner::before {
  top: -13px;
}
.personal__inner::after {
  top: 13px;
}
.personal__list:hover .personal__hidden {
  opacity: 1;
  transform: translate(0, -50%);
}
.personal__list:hover .personal__hidden::before, .personal__list:hover .personal__hidden::after {
  opacity: 1;
  transform: translate(0, 0);
}
.personal__list.is-active .personal__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.personal__list.is-active .personal__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.personal__list.is-active .personal__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.personal__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #ffaadc;
  top: 50%;
  transform: translate(51px, -50%);
}
.personal__hidden::before, .personal__hidden::after {
  width: 100%;
  height: 2px;
  background-color: #6a6a6a;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #ffaadc;
  content: "";
  transform: translate(102px, 0);
}
.personal__hidden::before {
  top: -13px;
}
.personal__hidden::after {
  top: 13px;
}


.menu__side{
	background: #ffffff;
	margin-left: 70%;
	margin-top: 0px;
	width: 30%;
	height: 0px;
	position: absolute;
	overflow: hidden;
	border-radius: 20px;
	transition: ease-in-out height .5s, margin-top 0.5s;
}

.menu__side:before{
	content: "";

}

.menu__content{
	margin-top: 40px;
	text-align: center;
}

.menu__text{
	color: #6a6a6a;
	text-decoration: none;
}

.menu__side_move{
	margin-left: 70%;
	margin-top: 480px;
	height: 400px;
	box-shadow: 0 8px 10px rgba(66,66,66, .5);
	/*left: 70%;
	top: 105%;*/
	/*margin-top: 42%;
	margin-left: 74%;*/
}
/*-------------------------------------------------------------------------------------*/

.nav{
	position: relative;
	margin: auto;
	background: #fff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	height: 70px;
	width: 96%;
	align-items: center;
	font-weight: 700;
	box-shadow: 0 8px 10px rgba(66,66,66, .5);
}

.nav__content{
	display: flex;
}

.nav--footer{
	font-weight: 300;
	justify-content: flex-start;
}

.nav__items--footer{
	color: #fff;
	font-weight: 500;
	padding: 10px;
	text-decoration: none;
}

.nav__items{
	position: relative;
	color: #6a6a6a;
	text-decoration: none;
	margin-right: 10px;
	/**margin-right: 15px;**/
	padding: 14px 15px;
	font-weight: inherit;
	transition: 0.5s;
	z-index: 1;
}

.nav__items:before{
	content: "";
	position: absolute;
	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	border-top: 5px solid #6a6a6a;
  	border-bottom: 5px solid #6a6a6a;
  	transform: scaleY(2);
  	opacity: 0;
  	transition: 0.3s;
  	border-radius: 10px;
}

.nav__items:after{
	content: "";
	position: absolute;
	top: 2px;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background-color: #6a6a6a;
  	transform: scale(0);
  	opacity: 0;
  	transition: 0.3s;
  	z-index: -1;
  	border-radius: 10px;
}

.nav__items:hover{
	color: #fff;
}

.nav__items:hover:before{
	transform: scaleY(1);
  	opacity: 1;
}

.nav__items:hover:after{
	transform: scaleY(1);
  	opacity: 1;
}

.nav__items#selected{
	background: #6a6a6a;
	border-radius: 10px;
	color: #fff;
}

.nav__logo{
	height: 40px;
	margin-right: 10px;
	margin-left: 45px;
	transition: ease-in-out height .5s;
}

.nav__logo:hover {
	height: 43px;
}

.nav__items--cta{

}

/*-------------------------main------------------------------*/


.map{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}

.map__title{
	color: var(--color-primary);
	text-align: center;
	font-weight: 700;
}

.map__paragraph{
	color: #6a6a6a;
	font-weight: 500;
}


/*-----------------------------------------------------------*/

/* Footer */

.footer{
	background: var(--color-primary);
}

.footer__grid{
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 20px;
	align-items: center;
}

.footer__title{
	font-weight: 500;
	color: #fff ;
	font-size: 2rem;
	margin-bottom: 30px;
	text-align: center;
}

.footer__icons{
	display: flex;
	justify-content: space-evenly;
}

.footer__container-icons{
	display: inline-block;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
}

.footer__container-icons:hover{
	background: #6a6a6a;
}

.footer__icon{
	color: #ffaadc;
	font-size: 30px;
	text-decoration: none;
	background: #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	transition: linear background .5s, linear color .5s;
}

.footer__icon:hover{
	background: #6a6a6a;
	color: #fff;
}

.fa-instagram{
	padding-top: 5px;
	padding-left: 7px;
}

.fa-facebook{
	padding-top: 5px;
	padding-left: 5px;
}

.fa-whatsapp.footer__icon{
	padding-top: 5px;
	padding-left: 7px;
}

.fa-brands.footer_icon{
	line-height: 60px;
}




/* Responsive design */

@media screen and (max-width:  800px){
	:root{
		--boton-padding: 18px 40px;
	}

	.container{
		width: 100%;
	}
	.nav{
		justify-content: space-around;
		margin: 0 auto;
	}

	.nav__content{
		margin-right: 15%;
	}

	.nav__items{
		margin-right: 0;
		font-weight: 400;
		font-size: 90%;
		padding: 5px;

	}

	.nav__logo{
		margin-left: 0;
		height: 30px;
	}

	.personal__list{
		left: 83%;

	}

	.nav__items--footer{
		border: none;
	}

	/* Footer */
	.footer__grid{
		padding: 5%;
	}

	.footer__title{
		margin-top: 10%;
		margin-bottom: 2%;
	}

	.footer__grid{
		grid-template-columns: 1fr;
	}

	.footer__contact{
		grid-row:  1/2;
	}

	.nav--footer{
		margin-left: 13%;
	}
}


@media screen and (max-width: 500px){
	:root{
		--boton-padding: 18px 35px;
	}

	.subtitle{
		font-size: 2rem;
		margin-bottom: 20px;
	}

	.nav{
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-top: 0px;
		width: 30%;
		margin-left: 65%;
	}

	.nav__items{
		padding: 0px 10px;
		border: 0;
		visibility: hidden;
		padding: 0%;
	}

	.nav__logo{
		margin: 25% 120%;
		padding: 0%;
	}

	.personal__list{
		left: 53%;

	}

	.menu__side{
		margin-left: 0%;
		width: 100%;
	}
}
