@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

:root{
	--background:  linear-gradient(200deg, #764ba298 0%, #9a9a9a8c 100%);
	--color-primary:#ffabde;
	--color-secondary:#9a9a9a;
	--boton-padding: 20px 40px;
}

body{
	font-family: 'Raleway', sans-serif;
	animation: linear fadein .5s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*::selection{
	background: rgb(255 242 63);
	color: #6a6a6a;
}


/*-------------------Transición de inicio-------------------------*/
@keyframes fadein {
 	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}

@keyframes aparicion{

	0% {
 		opacity:0;
 	}
 	50%{
 		opacity:0.5;
 	}
 	100% {
 		opacity:1;
 	}
}
/*--------------------------------------------------------------*/


/*--------------------Barra de navegación móvil----------------------------*/
.bottombar_responsive{
    visibility: hidden;
    position: fixed;
}
/*-------------------------------------------------------------------------*/


/*--------------------Botón de whatsapp--------------------*/
.btn-wsp{
	position: fixed;
	width: 60px;
	height: 60px;
	line-height: 55px;
	bottom: 0px;
	right: 15px;
	background: #6a6a6a;
	color: #ffffff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	z-index: 1000;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	padding-top: 12px;
	margin-bottom: 0px;
	margin-bottom: 5%;
	transition: border 1s, color 1s;
}

.btn-wsp:hover{
	color: #ffaadc;
	border: 3px solid #ffaadc;
}
/*--------------------------------------------------------*/


/*------------------Botón para arriba---------------------*/
#boton__arriba{
	cursor: pointer;
	visibility: visible;
	position: fixed;
	width: 50px;
	height: 50px;
	line-height: 45px;
	bottom: 13%;
	right: 22.5px;
	background: #6a6a6a;
	color: #ffffff;
	border-radius: 50px;
	text-align: center;
	font-size: 20px;
	box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
	z-index: 1000;
	text-decoration: none;
	display: inline-block;
	border: 3px solid #fff;
	margin-bottom: 3%;
	transform:  scale(0);
	transition: border 1s, color 1s, transform .5s;
}

#boton__arriba:hover{
	color: #ffaadc;
	border: 3px solid #ffaadc;
}
/*--------------------------------------------------------*/


/*----------------Barra superior gris---------------------*/
.top__bar{
	width: 100%;
	height: 25px;
	background: #2a2a2a;
}

.top__texts{
	display: grid;
	grid-template-columns: 1fr;
	color: #fff;
	font-size: .8rem;
	height: 100%;
}

.top__contacto{
	padding-top: 5px;
	text-decoration: none;
	text-align: center;
	position: center;
}
/*--------------------------------------------------------*/


/*---------------------header-----------------------------*/
.hero{
	background: linear-gradient(-45deg, #FF0000, #B600FF, #00BDFF, #000FFF, #B600FF, #FF0000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 60vh;
	position: relative;
}

.hero .container{
	padding: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*--------------------------------------------------------*/


/*--------------------contenedor--------------------------*/
.container{
	width:  90%;
	margin: 0 auto;
	overflow: hidden;
	padding: 80px;
	max-width: 1200px;
}
/*--------------------------------------------------------*/

.subtitle{
	color: var(--color-primary);
	font-size: 2.5rem;
	margin-buttom:  35px;
}


/*-------------------contenido header---------------------*/
.hero__container{
	display: flex;
	height: calc(100vh - 150px);
	align-items: center;
	color: #fff;
}

.contactheader{
	display: grid;
	grid-template-rows: 1fr 1fr;
	height: 85%;
	width: 100%;
}
.contactheader__logo{
	text-align: center;
	padding-top: 1%;

}
.contactheader__picture{
	margin: 0 auto;
	width: 30vh;
}
.contactheader__title{
	text-align: center;
	font-size: 3rem;
}
.contactheader__titleh2{
	color: #fff;
	font-weight: 700;
}
/*--------------------------------------------------------*/


/*---------------------FORMULARIO--------------------------*/

.formulary{
	padding: 0;
}
.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 30px;
	margin: 0 auto;
	color: #6a6a6a;
}

.h1__form{
	padding: 10px;
	padding-top: 30px;
	color: #6a6a6a;
}

.h2__form{
	padding: 10px;
	color: #6a6a6a;
	font-weight: 400;
}

.form{
    margin: auto;
    background: #6a6a6a1a;
    width: 80%;
    border-radius: 30px;
    margin-top: 5%;
    box-shadow: 0px 10px 10px 0px #6a6a6a5c;
}

form .grupo{
    position: relative;
    margin: 45px;
}

input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: #FC5C7D;
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 10%;
    margin-right: auto;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    form{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    form{
        width: 60%;
    }

    .formulary{
    	margin-top: 40px;

    }

    .h1__form{
    	font-size: 1.5rem;
    	padding-top: 5%;
    	padding-left: 5%;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }

    .formulary{
    	margin-top: 40px;

    }

    .h1__form{
    	font-size: 1.5rem;
    	padding-top: 5%;
    	padding-left: 5%;
    }
    
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}




@keyframes loading {
  0% {
    cy: 10;
  }
  25% {
    cy: 3;
  }
  50% {
    cy: 10;
  }
}
/*--------------------------------------------------------*/


/*--------------------wave movimiento-------------------------*/
.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*--------------------------------------------------------*/
















/*--------------------------------------------------------------------*/
/*------------------------RESPONSIVE DESIGN---------------------------*/
/*--------------------------------------------------------------------*/

@media screen and (max-width:  800px){
	:root{
		--boton-padding: 18px 40px;
	}


	.container{
		width: 100%;
	}


	/*-------------config - header----------------*/
	.hero{
		height: 80vh;
	}
	/*--------------------------------------------*/


	/*----------------HERO CONTENIDO------------------*/
	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;
	}
	/*--------------------------------------------*/


	/*----------------WAVE----------------*/
	.hero__wave{
		margin-top: 60px;
	}
	/*--------------------------------------------*/

}











@media screen and (max-width: 500px){
	:root{
		--boton-padding: 18px 35px;
	}
	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		margin-bottom: 5vh;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		margin-bottom: 1vh;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 70vh;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.hero__container{
		display: block;
	}

	.hero__texts{
		margin-top: 60%;
		padding-right: 10%;
	}

	.hero__title{
		font-size: 2rem;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}

	.hero__wave{
		margin-top: 20px;
	}

	.formulary{
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}

	.h1__form{
		padding:  10px;
		padding-top: 30px;
	}

	.h2__form{
		padding:  10px;
		font-weight: 400;
	}

	.contactheader{
		margin-top: 30%;
		height: 50%;
	}

	.contactheader__titleh2{
		font-size: 2rem;
	}
	/*-----------------------------------------*/

	
	/*-----------WAVE MOVIMIENTO---------------*/
	.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/

}








@media screen and (max-width: 420px){
	:root{
		--boton-padding: 18px 35px;
	}


	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		bottom: 6%;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		bottom: 20%;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 70vh;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.hero__container{
		display: block;
	}

	.hero__texts{
		margin-top: 60%;
		padding-right: 10%;
	}

	.hero__title{
		font-size: 2rem;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}

	.hero__wave{
		margin-top: 20px;
	}
	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
	/*-----------------------------------------*/

	
	/*-----------WAVE MOVIMIENTO---------------*/
	.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/

}









@media screen and (max-width: 375px){
	:root{
		--boton-padding: 18px 35px;
	}
	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		bottom: 6%;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		bottom: 20%;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 70vh;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.hero__container{
		display: block;
	}

	.hero__texts{
		margin-top: 60%;
		padding-right: 10%;
	}

	.hero__title{
		font-size: 2rem;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}

	.hero__wave{
		margin-top: 20px;
	}
	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
	/*-----------------------------------------*/
	.contactheader__titleh2{
		font-size: 1rem;
	}

	
	/*-----------WAVE MOVIMIENTO---------------*/
	.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/

}










@media screen and (max-width: 300px){
	:root{
		--boton-padding: 18px 35px;
	}
	/*--------------BOTON-WSPP-----------------*/
	.btn-wsp{
		bottom: 6%;
	}
	/*-----------------------------------------*/


	/*------------BOTON ARRIBA-----------------*/
	#boton__arriba{
		bottom: 25%;
	}
	/*-----------------------------------------*/


	/*----------header config gral-------------*/
	.hero{
		height: 70vh;
	}
	/*-----------------------------------------*/


	/*-----------CONTENIDO HEADER--------------*/
	.hero__container{
		display: block;
	}

	.hero__texts{
		margin-top: 60%;
		padding-right: 10%;
	}

	.hero__title{
		font-size: 2rem;
	}

	.button{
		height: 3em;
		width: 2.8em;
		overflow: visible;
	}

	.hero__wave{
		margin-top: 20px;
	}
	.form__aclaration{
	padding-top: 150px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
	/*-----------------------------------------*/

	
	/*-----------WAVE MOVIMIENTO---------------*/
	.waves {
		top: 60%;
    height: 40px;
    min-height: 40px;
  }
  /*-----------------------------------------*/

}













@media screen and (max-height: 850px) and (min-width: 800px){
	.hero__wave{
		margin-top: 50px;
	}
	.form__aclaration{
	padding-top: 70px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
}


@media screen and (max-height: 750px) and (min-width: 800px){
	.hero__wave{
		margin-top: 60px;
	}
	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
}


@media screen and (max-height: 650px) and (min-width: 800px){
	.hero__wave{
		margin-top: 60px;
	}
	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
}

@media screen and (max-height: 550px) and (min-width: 800px){
	.hero__wave{
		margin-top: 60px;
	}
	.form__aclaration{
	padding-top: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 0;
	margin: 0 auto;
	color: #6a6a6a;

	}
}