/*--------------------medios de pago----------------------*/
.paycards__texts{
	padding: 2%;
	padding-top: 5%;
	text-align: center;
	border-bottom: 3px solid #ffaadc;

}

.paycards__title{
	font-size: 3rem;
	color: #6a6a6a;

}
.paycards__paragraph{
	color: #6a6a6a;
	padding-top: 2%;
	font-size: 1.5rem;

}

.prefooter__container{
}

.paycards__container{
	padding: 10px;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #fff;
	width: 30%;
	height: 10%;
	border-radius: 20px;
	transition: box-shadow .5s;
}

.paycards__container:hover{
	box-shadow: 5px 5px 20px 0px #6a6a6a8a;
}

.paycards{
	width: 100%;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.paycards__pictures{
	width: 90%;
	height: 90%;
}
/*--------------------------------------------------------*/


/*-----------------config footer gral---------------------*/
.footer{
	background: var(--color-primary);
}

.footer__grid{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	align-items: center;
	padding-bottom: 0;
}
/*--------------------------------------------------------*/


/*-----------------navegador footer-----------------------*/
/*.nav--footer{
	font-weight: 300;
	justify-content: flex-start;
}

.nav__items--footer{
	color: #fff;
	font-weight: 500;
	padding: 10px;
	text-decoration: none;
}*/
/*--------------------------------------------------------*/


/*---------------------sobre------------------------------*/
.sobre__agn{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	column-gap: 30px;
}
.footersobretitle{
	text-align: center;
	color: #fff;
	border-bottom: 4px solid #fff;
	margin-bottom: 15px;
}
.footersobreparagraph{
	color: #fff;
}

/*--------------------------------------------------------*/


/*--------------------pagos footer------------------------*/
.footer__pagos{
	padding-top: 30px;
}
.paycardsfooter__container{
	padding: 10px;
	margin-top: 0;
	margin-bottom: 2%;
	width: 30%;
	height: 10%;
	border-radius: 20px;
	text-align: center;
}
.paycardsfooter__title{
	padding-bottom: 10px;
	color: #fff;
	font-weight: 300;
}
/*--------------------------------------------------------*/


/*----------------footer contacto-------------------------*/
.footer_contact{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.footer__title{
	border-bottom: 4px solid #fff;
	font-weight: 700;
	color: #fff ;
	font-size: 1.5rem;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

.social-container {
	margin: 0 auto;
  width: 400px;
  text-align: center;
}

.social-icons {
	margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #ff003c, #c648c8);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
.social-icons a.social-square:before {
  background: linear-gradient(45deg, #7b00e0, #ae31d9);
  border-radius: 10%;
}
.social-icons a.social-square:hover:before {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: scale(-180deg);
  border-radius: 100%;
}
.social-icons a.social-square:hover i {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  color: #fff;
  transform: scale(1.6);
  -webkit-text-fill-color: #fff;
}
/*--------------------------------------------------------*/



@media screen and (max-width:  800px){
	/*--------------------------------------------*/

	.paycards__title{
		font-size: 1.5rem;
	}
	.paycards__paragraph{
		font-size: 1.2rem;
	}

	.paycards__container{
		margin-top: 5%;
		margin-bottom: 10%;
		width: 80%;
	}


	/*--------------------------------------------*/


	/*------------footer config gral--------------*/
	.footer__grid{
		margin: 0 auto;
		grid-template-columns: 1fr;
		padding-right: 0;
		padding-left: 0;
		width: 90%;
	}
	/*--------------------------------------------*/


	/* -------------contacto footer-------------- */
	.footer__title{
		margin: 0 auto;
		margin-bottom: 2%;
	}
	.footer__contact{
		grid-row:  1/2;
	}
	.wrapper_footer{
		margin: 0 auto;
	}
	.social-container{
		margin: 0 auto;
	}
	.social-icons{
		margin: 0 auto;
	}
	/*--------------------------------------------*/

	/*---------------medio de pagos---------------*/

	.paycardsfooter__container{
		width: 60%;
	}

	/*--------------------------------------------*/


	/*-------------barra nav footer---------------*/
	.nav--footer{
		margin: 0 auto;
	}

	.nav__items--footer{
		border: none;
	}
	/*--------------------------------------------*/

}



@media screen and (max-width: 500px){
	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		height: 50vh;
		/**margin-bottom: -15%;*//
		padding: 0;
		padding-right: 0;
		padding-left: 0;
		width: 90%;
	}
	/*-----------------------------------------*/

	/*-----------------------------------------*/
	.sobre__agn{
		padding-top: 20px;
	}
	.footersobretitle{
		font-size: 0.9rem;
	}
	.footersobreparagraph{
		font-size: 0.8rem;
	}
	/*-----------------------------------------*/


	/*---------------medio de pagos---------------*/

	.paycards__title{
		padding-top: 20px;
		padding-bottom: 0;
	}

	.paycardsfooter__container{
		width: 100%;
	}

	.footer__pagos{
		padding-top: 0%;
	}

	/*--------------------------------------------*/


	/*------------FOOTER CONTACTO--------------*/
	.footer_contact{
		margin: 0 auto;
		text-align: center;
	}

	.footer__title{
		margin-top: 0;
	}

	.wrapper_footer{
		margin: 0 auto;
		margin-right: 8%;
	}
	.social-container{
		margin: 0 auto;
	}
	.social-icons{
		margin: 0 auto;
	}
	/*-----------------------------------------*/
	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin: 0 auto;
		margin-top: 5%;
	}
	/*-----------------------------------------*/

}


@media screen and (max-width: 420px){
	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		height: 50vh;
		margin-bottom: -15%;
		padding: 0;
		width: 95%;
	}
	/*-----------------------------------------*/
	

	/*-----------------------------------------*/
	.paycardsfooter__title{
		margin-top: 30px;
		padding-bottom: 0;
	}

	.footer__pagos{
	}
	/*-----------------------------------------*/

	/*------------FOOTER CONTACTO--------------*/
	.footer_contact{
		margin-right: 10%;
	}

	.footer__title{
		margin-top: 0;
	}
	/*-----------------------------------------*/

	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin-left: 4%;
		margin-top: 5%;
	}
	/*-----------------------------------------*/
}



@media screen and (max-width: 375px){
	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		height: 50vh;
		padding: 0;
		width: 95%;
		margin: 0 auto;
		margin-bottom: 0px;
	}
	/*-----------------------------------------*/


	/*-----------------------------------------*/
	.paycardsfooter__title{
		margin-top: 30px;
		padding-bottom: 0;
	}

	.footer__pagos{
	}
	/*-----------------------------------------*/

	/*-----------------------------------------*/
	.sobre__agn{
		padding-top: 20px;
	}
	.footersobretitle{
		font-size: 0.9rem;
	}
	.footersobreparagraph{
		font-size: 0.7rem;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONTACTO--------------*/

	.footer__title{
		margin-top: 0;
	}
	/*-----------------------------------------*/


	/* -------------contacto footer-------------- */
	.footer__title{
		margin: 0 auto;
		margin-bottom: 2%;
	}
	.footer_contact{
		display: grid;
		margin: 0 auto;
	}
	.wrapper_footer{
		margin: 0 auto;
		width: 100%;
	}
	.social-container{
		margin: 0 auto;
		width: 100%;
	}
	.social-icons{
		margin: 0 auto;
		width: 100%;
	}
	/*--------------------------------------------*/

	/*--------------foote pagos-------------------*/
		.footer__pagos{
			padding-top: 0px;
			margin-top: 0px;
		}
		.paycardsfooter__container{
			padding-top: 0;
		}
		.paycardsfooter__title{
			margin-top: 0;

		}
	/*--------------------------------------------*/

	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin-left: 4%;
		margin-top: 5%;
	}
	/*-----------------------------------------*/
}


@media screen and (max-width: 300px){
	/*------------FOOTER CONFIG GRAL-----------*/
	.footer{
	}

	.footer__grid{
		justify-content: center;
		height: 40vh;
		margin-bottom: -15%;
		padding: 0%;
	}
	/*-----------------------------------------*/


	/*------------FOOTER CONTACTO--------------*/
	.footer_contact{
		margin-right: 0;
		margin-bottom: 20%;
	}

	.footer__title{
		margin-top: 0;
		font-size: 1.3rem;
	}
	.social-container{
		margin-left: 4%;
	}
	/*-----------------------------------------*/


	/*------------BARRA NAV FOOTER-------------*/
	.nav--footer{
		margin-left: 18%;
		margin-top: 10%;
		width: 70%;
		font-size: 0.7rem;
	}
	/*-----------------------------------------*/
	
}